<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17907117774-f8d1unh6hsm4oojded3lsmh6tcu9e2p2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17907117774-f8d1unh6hsm4oojded3lsmh6tcu9e2p2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>17907117774-61pcqp04e1lh3htvc7rjk15ihsh9lr1e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3Dn9ZepRoQG5P2OZlz_VuXqmp3MdaaR8</string>
	<key>GCM_SENDER_ID</key>
	<string>17907117774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>im.zego.easyexample.rn</string>
	<key>PROJECT_ID</key>
	<string>easyexample-7c37e</string>
	<key>STORAGE_BUCKET</key>
	<string>easyexample-7c37e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17907117774:ios:b644a5ae43aa9919d4ea9f</string>
</dict>
</plist>